/* http://www.colorhexa.com/2c4460 */

/*** Primary ***/

header,
#subtitle,
a.dl {
  background-color: #2c4460;
}

.content-nav li.active a,
.content-nav li.active a:hover {
  border-left-color: #2c4460;
}

/*** One step left on the monochromatic scale ***/

header menu li a:hover,
a.dl:hover {
  background-color: #24384f;
}
a {
  color: #24384f;
}

/*** Three steps left on the monochromatic scale ***/

a:hover {
  color: #141f2c;
}