<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <link href="{{ site.baseurl }}/assets/bootstrap-combined.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/base.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,100,100italic,300" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]><script src="static/html5shiv.min.js"></script><![endif]-->
  </head>
  <body data-target=".content-nav">
    <header>
      <div class="container">
        <div class="row">
          <div class="span5">
            <h1>{{ page.title }}</h1>
          </div>
          <div class="span7">
            <menu>
              <ul>
                <li><a href="#download" class="menu download">Download <span class="version-tag">Latest</span></a></li>
                <li><a href="{{ page.repository }}" data-title="View GitHub Project" class="menu github"><img src="{{ site.baseurl }}/images/icon-github.png" alt="GitHub"/></a></li>
              </ul>
            </menu>
          </div>
      </div>
    </header>
    <section id="subtitle">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h2>{{ page.description }}</h2>
          </div>
        </div>
      </div>
    </section>
    <section id="body">
      <div class="container">
        {{ content }}

        <div class="row">
          <div class="span12 logo">
            <a href="imminent.github.io"><img src="{{ site.baseurl }}/images/logo.jpg" alt="Imminent Domain"/></a>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/jquery.smooth-scroll.min.js"></script>
    <script src="{{ site.baseurl }}/assets/jquery-maven-artifact.min.js"></script>
    <script type="text/javascript">
      $(function() {
        // Spy on scroll position for real-time updating of current section.
        $('body').scrollspy();
        
        // Use smooth-scroll for internal links.
        $('a').smoothScroll();

        // Enable tooltips on the header nav image items.
        $('.menu').tooltip({
          placement: 'bottom',
          trigger: 'hover',
          container: 'body',
          delay: {
            show: 500,
            hide: 0
          }
        });

        // Look up the latest version of the library.
        $.fn.artifactVersion('com.imminentmeals', 'prestige', function(version, url) {
          $('.version').text(version);
          $('.version-tag').text('v' + version);
          $('.core-version-href').attr('href', url);
        });
      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46840387-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>